
Course_Scheduling.sln
.vs/Course_Scheduling/v17/.suo
Course_Scheduling.vcxproj.user
Course_Scheduling.vcxproj.filters
Course_Scheduling.vcxproj
.vs/Course_Scheduling/v17/ipch/AutoPCH/5b1a4a22548d88bf/COURSE.ipch
.vs/Course_Scheduling/v17/Browse.VC.opendb
.vs/Course_Scheduling/v17/Browse.VC.db-wal
.vs/Course_Scheduling/v17/Browse.VC.db-shm
.vs/Course_Scheduling/v17/Browse.VC.db
.vs/Course_Scheduling/v17/ipch/AutoPCH/e58a73d06cf0abfb/DAYTIME.ipch
.vs/Course_Scheduling/v17/ipch/AutoPCH/c5ce46c4e02843e9/INSTRUCTOR.ipch
.vs/Course_Scheduling/v17/ipch/AutoPCH/9d2cab14da990bb8/ENGINE.ipch
.vs/Course_Scheduling/v17/ipch/AutoPCH/9883f11a8a09c029/ROOM.ipch
.vs/Course_Scheduling/v17/ipch/AutoPCH/8d598dc920a8e51b/RESOURCEMANAGER.ipch
.vs/Course_Scheduling/v17/ipch/AutoPCH/50599d65dc68312c/DEPARTMENT.ipch
.vs/Course_Scheduling/v17/ipch/AutoPCH/225ab6faffdb51c/DEPARTMENT.ipch
